.DS_Store
*.o
zchaff
PSATtoSAT
PSATtoMaxSat
PsatColGen
psatcolgen/new/gamma.txt
psatcolgen/old/LA
psatcolgen/old/clauses.cnf
psatcolgen/old/gamma.txt
psatcolgen/old/invMatrix.txt
psatcolgen/old/origMatrix.txt
psatcolgen/old/saidazc.out
psattomaxsat/new/gamma.txt
psattomaxsat/old/LA2
psattomaxsat/old/clauses.cnf
psattomaxsat/old/gamma.txt
psattomaxsat/old/geratestsMaxSat
psattomaxsat/old/invMatrix.txt
psattomaxsat/old/maxsat
psattomaxsat/old/origMatrix.txt
psattomaxsat/old/resulttable
psattomaxsat/old/saida.txt
psattomaxsat/old/saidamax.out
psattomaxsat/old/status.txt
psattomaxsat/old/warningmax.out
psattosat/clauses.cnf
psattosat/gamma.txt
psattosat/new/gamma.txt
psattosat/old/clauses.cnf
psattosat/old/gamma.txt
psattosat/old/saidazc.out
psattosat/saidazc.out
